/* Section "common styles*/
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  font-size: 11px;
  line-height: 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 53px;
}

h2,
h3,
h1 {
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
}

h1 span {
  color: #e3b873;
}

label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  margin-bottom: 10px;
}

a:hover {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

input {
  border: none;
}

.line {
  border-bottom: 1.5px solid #e3b873;
  width: 91px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 18px;
}

.btn {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 1px solid transparent;
  color: #ffffff;
  font-family: "Nunito Sans";
}

.btn:hover {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

input[type="checkbox"] {
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .container {
    padding: 0 18px;
  }
  h1 {
    font-size: 23px;
    line-height: 31px;
  }
}
/* Section "Header + Footer" */

.page-header,
.page-footer {
  background-color: #131313;
}

.container-header,
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 36px;
}

.more-detail-btn:hover,
.submit-btn:hover {
  background: transparent;
  border: 1px solid #131313;
  color: #131313;
  border-radius: 2px;
}

.btn-header,
.btn-footer {
  width: 161px;
  padding: 13px 33px;
  margin-left: 45px;
}

.logo {
  color: #e3b873;
  text-transform: uppercase;
  margin-right: 96px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-item {
  margin-right: 47px;
}

.menu-item a {
  text-transform: uppercase;
}

.phone {
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu,
  .btn-footer,
  .btn-header {
    display: none;
  }
  .container-header,
  .container-footer {
    justify-content: space-around;
  }
  .phone {
    color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-header,
  .container-footer {
    justify-content: space-around;
  }
  .phone {
    display: none;
  }
  .logo,
  .menu-item {
    margin-right: 10px;
  }
}

/* Section "Offer" */

.offer {
  background: url(../img/offer-background.jpg) no-repeat;
  background-size: cover;
  height: 707px;
  position: relative;
}

.container-offer {
  max-width: 518px;
  padding-top: 194px;
  position: relative;
  z-index: 1;
}

.btn-offer {
  width: 207px;
  padding: 19px 22px;
  margin-right: 20px;
}

.background-overlay,
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.offer-description {
  font-size: 22px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .offer {
    height: 476px;
  }
  .container-offer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 85px;
  }
  .background-overlay {
    width: 100%;
  }
  .offer-description {
    font-size: 14px;
    line-height: 19px;
  }
  .btn-offer {
    width: 100%;
    margin-top: 26px;
  }
}

/* Section "Completed projects" */
.projects {
  max-width: 442px;
}

.completed-projects {
  background: #131313;
  padding-bottom: 322px;
}

.projects .line {
  margin-bottom: 20px;
}

.container-projects {
  display: flex;
  justify-content: space-between;
  padding-top: 107px;
}

.project-names-and-images {
  max-width: 679px;
}
.project-names {
  display: flex;
  margin-bottom: 20px;
}

.project-name {
  text-transform: uppercase;
  font-family: "Yeseva One", cursive;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 59px;
}

.projects h2 {
  font-family: "Yeseva One", cursive;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}

.projects-header {
  width: 253px;
  display: flex;
}

.project-description {
  font-size: 14px;
  line-height: 27px;
}

.project-features {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
}

.project-feature {
  margin-right: auto;
  width: 50%;
}

.project-feature h3 {
  font-family: "Yeseva One", cursive;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}

.feature-value {
  font-size: 13px;
  line-height: 21px;
}

.projects-pagination {
  margin-top: 79px;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination li {
  margin-right: 18px;
}

.circle-icon {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
}

.active .circle-icon {
  background-color: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-projects {
    flex-direction: column;
    padding-top: 36px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .projects-header {
    width: 60%;
  }
  .projects h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 22px;
    text-align: center;
  }
  .projects .line {
    width: 0;
  }
  .project-description {
    font-size: 11px;
    line-height: 17px;
    text-align: center;
  }
  .completed-projects-mobile {
    margin-top: 70px;
    width: 100%;
    height: 241px;
    background: url(../img/completed-projects-mobile.jpg) center no-repeat;
    position: relative;
  }
  .project-names-and-images,
  .projects-pagination {
    display: none;
  }
  .completed-projects-mobile::before {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4%;
    margin-top: -6%;
    z-index: 2;
    background: url(../img/arrow-left-mobile.svg) center no-repeat, #e3b873;
  }
  .completed-projects-mobile::after {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 4%;
    margin-top: -6%;
    z-index: 2;
    background: url(../img/arrow-right-mobile.svg) center no-repeat, #e3b873;
  }

  .project-feature h3 {
    font-size: 14px;
    line-height: 19px;
  }
  .feature-value {
    font-size: 11px;
    line-height: 15px;
  }
  .project-feature:nth-child(1),
  .project-feature:nth-child(2) {
    margin-bottom: 27px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project-images img {
    width: 100%;
  }
  .project-name {
    margin-right: 10px;
    font-size: 11px;
  }
  .project-description {
    font-size: 11px;
  }
  .projects .line {
    width: 0;
  }
  .project-feature h3 {
    font-size: 14px;
  }
  .feature-value {
    font-size: 11px;
  }
}

/*section "Online control "*/

.container-online-control {
  margin-top: -257px;
  margin-bottom: 147px;
}

.online-control-about .line {
  width: 55px;
  margin-top: 62px;
}

.online-control-about,
.type-of-repair-name-and-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-control-header h2,
.type-of-repair-header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
}

.online-control-icon {
  margin-top: 12px;
}

.online-control-video {
  margin-top: 31px;
  position: relative;
}

.online-control-video-icon {
  width: 85px;
  height: 85px;
  background: #e3b873;
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 2;
}

.online-control-video-icon p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 28px;
  margin-top: -5px;
  margin-left: -10px;
}

.online-control-description {
  max-width: 682px;
  margin-top: 34px;
  font-size: 18px;
  line-height: 37px;
  color: #363636;
  text-align: center;
}

.call-request {
  margin-top: 76px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.input-personal-data-item,
.types-of-repair {
  display: flex;
  justify-content: center;
}

.input-personal-data-item {
  flex-direction: column;
  width: 27%;
}

.online-control .input-personal-data-item {
  margin-right: 49px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.input-personal-data-item input[type="text"] {
  font-size: 14px;
}

.submit-personal-data {
  width: 27%;
}

.submit-btn {
  padding: 12px 75px;
  font-size: 13px;
  line-height: 27px;
  font-style: normal;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.personal-data-agreement {
  margin-top: 35px;
  text-align: center;
  position: relative;
}

.personal-data-agreement label {
  font-size: 14px;
  line-height: 23px;
  color: #181818;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  border-radius: 1px;
  vertical-align: middle;
}

input[type="checkbox"] + label::after {
  content: none;
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  transform: rotate(-45deg);
}

.personal-data-agreement input[type="checkbox"] + label::before {
  left: -10%;
}

.personal-data-agreement input[type="checkbox"] + label::after {
  right: 105%;
  top: 20%;
}

input[type="checkbox"]:checked + label::after {
  content: "";
}
@media (min-width: 320px) and (max-width: 767px) {
  .online-control {
    background-color: #131313;
  }
  .online-control-video img {
    width: 100%;
  }
  .input-personal-data {
    flex-direction: column;
  }
  .online-control-video-icon {
    width: 37px;
    height: 37px;
    margin-top: -25px;
    margin-left: -20px;
  }
  .online-control-video-icon p {
    font-size: 12.5px;
    margin-top: -7px;
    margin-left: -6px;
  }
  .online-control-description {
    font-size: 11px;
    line-height: 19px;
    color: #ffffff;
  }
  .call-request {
    flex-direction: column;
  }
  .call-request label {
    color: rgba(255, 255, 255, 0.5);
  }
  .call-request .input-personal-data-item input[type="text"] {
    background-color: #131313;
    color: #ffffff;
    border: none;
  }
  .online-control .input-personal-data-item {
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin-bottom: 72px;
  }
  .online-control .input-personal-data-item:nth-child(2) {
    margin-bottom: 25px;
  }
  input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }
  .container-online-control {
    margin-bottom: 88px;
  }
  .submit-personal-data {
    order: 4;
    align-self: flex-start;
  }
  .submit-btn {
    font-size: 13px;
    line-height: 27px;
    padding: 15px 119px;
    margin-bottom: -25px;
    margin-top: 62px;
  }
  .personal-data-agreement {
    align-self: flex-start;
    margin-left: 20px;
  }
  .personal-data-agreement label {
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
  }
  .personal-data-agreement input[type="checkbox"] + label::before {
    left: -7.6%;
  }
  .personal-data-agreement input[type="checkbox"] + label::after {
    right: 103%;
    top: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .online-control-video img {
    width: 100%;
  }
}

/* Section "Type of repair" */
.type-of-repair-header h2 {
  color: #181818;
  margin-bottom: 13px;
}

.type-of-repair-title h3 {
  margin: 25px auto;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-left: 60px;
  padding-top: 25px;
  margin-bottom: 13px;
}

.type-of-repair-item {
  margin-right: 30px;
}

.type-of-repair-item:last-child {
  margin-right: 0;
}

.types-of-repair {
  margin-top: 30px;
}

.type-of-repair-about {
  position: relative;
  top: -145px;
  z-index: 1;
  background: #ffffff top center;
  width: 85%;
  left: 31px;
  margin-bottom: -145px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  padding-bottom: 35px;
}
.type-of-repair-more-detail {
  position: relative;
  margin-top: -182px;
  z-index: 1;
  width: 67%;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  margin-left: 31px;
  font-family: "Yeseva One";
  background-color: #e3b873;
  text-align: center;
  text-transform: uppercase;
}

.type-of-repair-description li {
  display: list-item;
}

.type-of-repair-description {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  padding-left: 60px;
}

.container-type-of-repair {
  margin-bottom: 120px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .types-of-repair {
    flex-direction: column;
  }
  .type-of-repair-image img {
    width: 100%;
  }
  .type-of-repair-item {
    margin-right: 0;
    margin-bottom: 59px;
  }
  .type-of-repair-about {
    left: 0;
    top: -180px;
  }
  .container-type-of-repair {
    margin-bottom: 0;
  }
  .type-of-repair-more-detail {
    margin-top: -210px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .types-of-repair {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .type-of-repair-item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 59px;
  }
  .container-type-of-repair {
    margin-bottom: auto;
  }
  .type-of-repair-image img {
    width: 90%;
  }
  .type-of-repair-about {
    left: 0;
  }
}

/* Section "Service" */
.service {
  margin-bottom: 200px;
}

.steps-of-service {
  background: url(../img/steps-of-service.png) 100% 100% / cover;
  max-width: 700px;
  max-height: 645px;
}

.container-service {
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #e3b873;
  position: relative;
}

.circle span {
  color: #ffffff;
  font-family: "Yeseva One";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  margin: 0;
  top: 25%;
  left: 25%;
}

.step-description {
  font-size: 14px;
  line-height: 19px;
  color: #363636;
}
.steps-of-service-items {
  padding-left: 240px;
  padding-top: 100px;
}

.steps-of-service-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 113px;
}
.step-number {
  margin-right: 21px;
}

.send-request-form {
  background-color: black;
  width: 509px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-request-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  margin-bottom: 39px;
  text-align: center;
}

.send-request-form .input-personal-data-item {
  margin-bottom: 49px;
  width: 410px;
}
.send-request-form .input-personal-data-item:last-child {
  margin-bottom: 16px;
}

.send-request-input .input-personal-data-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.send-request-input label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

.send-request-input input[type="text"] {
  max-width: 408px;
  padding: 10px 0;
  background: transparent;
  color: #ffffff;
}

.send-request-input input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.send-request-personal-data-agreement {
  position: relative;
  margin-left: 49px;
  align-self: flex-start;
}

.send-request-personal-data-agreement label {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 25px;
}

.send-request-personal-data-agreement input[type="checkbox"] + label::before {
  left: 0;
}

.send-request-personal-data-agreement input[type="checkbox"] + label::after {
  left: 2%;
  top: 20%;
}

.btn-call {
  padding: 18px 37px;
  margin: 39px 49px 27px 244px;
  font-size: 13px;
  line-height: 21px;
}

.sale {
  display: flex;
  align-items: center;
}

.sale-description {
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

@media (min-width: 320px) and (max-width: 767px) {
  .service {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-service {
    flex-direction: column;
    align-items: center;
  }
  .steps-of-service {
    max-width: none;
    width: 100%;
  }
  .steps-of-service-items {
    padding-left: 20px;
  }
}
/* Section "type-of-styles" */

.type-of-styles {
  background: url(../img/design-style-background.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: 864px;
  margin-bottom: 110px;
  margin-top: 200px;
}

.type-of-styles-container {
  position: relative;
  z-index: 1;
  display: flex;
}

.design-styles-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.design-styles {
  width: 77%;
}
.design-styles h2 {
  margin-top: 137px;
  margin-bottom: 47px;
  font-size: 27px;
  line-height: 37px;
  color: #e3b873;
}

.design-styles li {
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 10px;
}

.design-styles-images img:first-child {
  margin-top: -40px;
}

.design-styles-images img:nth-child(3) {
  margin-top: 40px;
}

.design-styles-images img:nth-child(2) {
  margin-top: -120px;
}
.design-styles-images img:nth-child(4) {
  margin-top: -320px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .design-style-list,
  .design-styles-images img,
  .type-of-styles .background-overlay {
    display: none;
  }
  .type-of-styles-container {
    flex-direction: column;
    position: relative;
    z-index: 999;
  }
  .type-of-styles {
    background-image: none;
    background-color: #ffffff;
    margin-top: auto;
    height: auto;
  }
  .design-styles {
    width: 100%;
  }
  .design-styles-images {
    background: url(../img/design-style-background.jpg);
    background-size: cover;
    width: 100%;
    height: 242px;
  }
  .design-styles h2 {
    margin-top: auto;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
  .design-styles-images::before {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 67%;
    left: 4%;
    margin-top: -6%;
    z-index: 2;
    background: url(../img/arrow-left-mobile.svg) center no-repeat, #e3b873;
  }
  .design-styles-images::after {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 67%;
    right: 4%;
    margin-top: -6%;
    z-index: 2;
    background: url(../img/arrow-right-mobile.svg) center no-repeat, #e3b873;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .design-styles {
    width: 50%;
  }
  .design-styles-images {
    flex-direction: row;
  }

  .design-styles-images img:nth-child(4) {
    margin-top: auto;
  }
  .design-styles-images img:first-child,
  .design-styles-images img:nth-child(3),
  .design-styles-images img:nth-child(2) {
    display: none;
  }
  .type-of-styles-container {
    justify-content: space-around;
  }
}
/* Section "Our clients" */
.our-clients {
  background: url(../img/Group.png) repeat-x;
  background-position: bottom;
  position: relative;
}

.our-clients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 371px;
}

.our-clients-container h2 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
}

.our-clients-description {
  margin-bottom: 39px;
}
.our-clients-description p {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
}

.background-overlay-opacity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
}

.our-clients-name-and-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-clients-feedback-and-work-example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-clietns-items {
  display: flex;
  justify-content: space-between;
}

.our-clients-name-and-photo {
  margin-bottom: 20px;
  padding-top: 20px;
}
.our-clients-name-and-photo img {
  border-radius: 50%;
  margin-right: 20px;
}

.our-clients-name-and-photo h3 {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.our-clients-item {
  max-width: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding-left: 20px;
  padding-right: 38px;
  padding-bottom: 90px;
}

.feedback {
  font-size: 13px;
  line-height: 23px;
  color: #959595;
}

.work-example {
  display: flex;
  margin-top: -30px;
}

.work-example-meter,
.work-example-duration {
  background-color: #e3b873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Yeseva One;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 20px;
}
.work-example-meter {
  width: 130px;
}

.work-example-duration {
  width: 150px;
}

.work-example-meter {
  border-right: 0.75px solid #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .our-clients {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .our-clietns-items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-clients-feedback-and-work-example {
    margin-bottom: 59px;
    width: 50%;
    align-items: center;
  }
  .our-clients-name-and-photo h3 {
    font-size: 14px;
  }
}

/* Section "Have any question" */

.have-any-questions {
  position: relative;
  z-index: 2;
  margin-top: -220px;
}
.have-any-questions-container {
  max-width: 883px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 445.32px;
  background-color: #131313;
}

.send-question-name-and-phone {
  display: flex;
  justify-content: space-between;
}

.send-question-name-and-phone .input-personal-data-item {
  margin-right: 25px;
  width: 231px;
}
.send-question-ask-question .input-personal-data-item {
  width: 516px;
}

.have-any-questions-container label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.send-question-personal-agreement label {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.have-any-questions-container input[type="text"] {
  background: transparent;
  color: #ffffff;
  font-size: 14px;
}

.have-any-questions-container input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.have-any-questions-container .input-personal-data-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.send-question-button {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.send-question-btn {
  padding: 15px 74px;
  font-style: normal;
  font-size: 13px;
  line-height: 27px;
}
.send-question-personal-agreement {
  position: relative;
}

.send-question-personal-agreement input[type="checkbox"] + label::before {
  left: -10%;
}

.send-question-personal-agreement input[type="checkbox"] + label::after {
  left: -8%;
  top: 20%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .send-question-name-and-phone {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #131313;
  }
  .have-any-questions {
    margin-top: -230px;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #131313;
  }
  .have-any-questions-container {
    padding-top: 180px;
    padding-bottom: 46px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .have-any-questions-container h2 {
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 28px;
  }
  .send-question-name-and-phone {
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .send-question-ask-question .input-personal-data-item,
  .send-question-name-and-phone .input-personal-data-item {
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .send-question-name-and-phone .input-personal-data-item {
    margin-bottom: 50px;
  }
  .send-question-button {
    max-width: none;
    width: 100%;
    margin: 0;
    margin-top: 67px;
    align-self: center;
  }
  .send-question-btn {
    padding: 15px 90px;
    width: 100%;
  }
  .send-question-ask-question {
    width: 100%;
  }
  .send-question-ask-question .input-personal-data-item {
    margin-bottom: 20px;
  }
  .send-question-personal-agreement {
    align-self: flex-start;
    margin-left: 27px;
  }
}

/* Section "Our address" */

.our-address {
  position: relative;
  background: url(../img/our-address-map.png);
  height: 953px;
  margin-top: -225px;
}

.container-our-address {
  padding-top: 260px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-our-address h2 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e3b873;
}

.our-address-icons {
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-our-address {
    font-size: 18px;
    line-height: 25px;
    padding-top: 10px;
  }
  .our-address-map img {
    width: 100%;
  }
  .our-address-map {
    order: -1;
    margin-bottom: 40px;
  }
  .our-address {
    margin-top: auto;
    height: auto;
    background-image: none;
    background-color: #131313;
  }
  .our-address .background-overlay {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .our-address-map img {
    width: 100%;
  }
}
